################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/M5_Project/FileContentIndex/28706d43-c75f-4b3e-8df2-63a6dffa8b48.vsidx
/.vs/M5_Project/FileContentIndex/6c2ff856-d467-4a54-949e-a060592595c9.vsidx
/.vs/M5_Project/FileContentIndex/cfc58490-0b17-49da-abea-627ee741778a.vsidx
/.vs/M5_Project/FileContentIndex/d8802aeb-1ce1-45f9-9085-f0248f38931f.vsidx
/.vs/M5_Project/FileContentIndex/read.lock
/.vs/slnx.sqlite
