<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="iso-8859-15"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M3 Pendel</title>
    <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<div class="container1" align="center">
    <h1>M3 Pendel</h1>
    <h2><u>Periodendauer:</u></h2>
    <div id="state"> </div>
    <div id="rawData"> </div>
    <ol id="dataList"></ol>

    <button id="startButton">Messung starten</button>

    <button id="abortButton">Messung abbrechen</button>
    <form action="/data_download">
        <button id="downloadButton">Messwerte herunterladen</button>
    </form>


    <script>

        document.getElementById("startButton").addEventListener("click", function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/start_measurement", true);
            xhttp.send();
        }, false);

        document.getElementById("abortButton").addEventListener("click", function (e) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/abort_measurement", true);
            xhttp.send();
        }, false);

        setInterval(function () { getData(); }, 100);

        function getData() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.response)
                    let child = document.getElementById("dataList").lastElementChild;
                    while (child) {
                        document.getElementById("dataList").removeChild(child);
                        child = document.getElementById("dataList").lastElementChild;
                    }
                    for (const element of data) {
                        let li = document.createElement('li');
                        li.innerText = element;
                        document.getElementById("dataList").appendChild(li);
                    }
                    document.getElementById("rawData").innerHTML = this.responseText;
                }
            }
            xhttp.open("GET", "/getData", true);
            xhttp.send();
        }

        setInterval(function () { getMeasureState(); }, 100);

        function getMeasureState() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    var responseText = this.responseText;
                    document.getElementById("state").innerHTML = "Messung aktiv?: " + responseText.replace('True', 'Ja').replace('False', 'Nein');
                }
            }
            xhttp.open("GET", "/getMeasureState", true);
            xhttp.send();
        }
    </script>
</div>
</body>
</html>